<!DOCTYPE html>
<html>
	<head>
		<title>Mini Message Board</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Mini Message Board</h1>
		<a href="/new">Add a message</a>
		<p>Welcome to the Mini Message Board</p>
		<h2>Messages:</h2>
		<ul class="messages">
			<% messages.forEach((message) => { %>
			<li class="message">
				<div class="header">
					<div class="author"><%= message.name %></div>
					<div class="date"><%= message.date.toLocaleString() %></div>
				</div>
				<div class="body"><%= message.message %></div>
			</li>
			<% }); %>
		</ul>
	</body>
</html>
